.sidebar {
    margin-top: 20px;
}

.sidebar__start {
    cursor: pointer;

    width: 200px;
    margin-right: 20px;

    color: #fff;
    font-size: 1.5rem;
    background-color: #007bff;

    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.sidebar__start:hover {
    box-shadow: 0 0 5px #61dafb; /* Параметры тени */
}

.sidebar__counter {
    border: 1px solid black;
    font-size: 1.5rem;
    border-radius: 0.25rem;
}

.sidebar__counter:disabled {
    background-color: transparent;
}